In [10]:
import pandas as pd

In [26]:
df = pd.read_csv('BRAZIL.csv', delimiter=';', encoding='UTF-8')

In [27]:
df.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,1.0,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,2.0,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,4.0,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0

In [29]:
df.shape

(5573, 81)

In [34]:
df['CITY']

0           Abadia De Goiás
1       Abadia Dos Dourados
2                 Abadiânia
3                    Abaeté
4                Abaetetuba
               ...
5568            Xique-Xique
5569                 Zabelê
5570               Zacarias
5571                Zé Doca
5572                 Zortéa
Name: CITY, Length: 5573, dtype: object

In [43]:
df["CarsXCity"] = df["CITY"] + " " + df["STATE"]

In [50]:
df.loc[0:31,'CITY':'STATE']

                   CITY STATE
0       Abadia De Goiás    GO
1   Abadia Dos Dourados    MG
2             Abadiânia    GO
3                Abaeté    MG
4            Abaetetuba    PA
5               Abaiara    CE
6                Abaíra    BA
7                 Abaré    BA
8                Abatiá    PR
9         Abdon Batista    SC
10      Abel Figueiredo    PA
11         Abelardo Luz    SC
12           Abre Campo    MG
13         Abreu E Lima    PE
14          Abreulândia    TO
15              Acaiaca    MG
16           Açailândia    MA
17            Acajutiba    BA
18                Acará    PA
19              Acarape    CE
20               Acaraú    CE
21                Acari    RN
22                Acauã    PI
23               Aceguá    RS
24             Acopiara    CE
25             Acorizal    MT
26           Acrelândia    AC
27              Acreúna    GO
28                  Açu    RN
29              Açucena    MG
30           Adamantina    SP
31            Adelândia    GO

In [48]:
df.iloc[1,0]

'Abadia Dos Dourados'